[submodule "drupal"]
	path = drupal
	url = http://git.drupal.org/project/drupal.git
[submodule "modules/commerce_license"]
	path = modules/commerce_license
	url = http://git.drupal.org/project/commerce_license.git
[submodule "modules/commerce_license_billing"]
	path = modules/commerce_license_billing
	url = http://git.drupal.org/project/commerce_license_billing.git
[submodule "commerce_authnet"]
	path = commerce_authnet
	url = http://git.drupal.org/project/commerce_authnet.git
[submodule "modules/commerce_authnet"]
	path = modules/commerce_authnet
	url = http://git.drupal.org/project/commerce_authnet.git
[submodule "modules/commerce_license_billing_credit_card"]
	path = modules/commerce_license_billing_credit_card
	url = http://git.drupal.org/sandbox/daveparrish/2413455.git
