[submodule "drupal"]
	path = drupal
	url = http://git.drupal.org/project/drupal.git
[submodule "modules/commerce_license"]
	path = modules/commerce_license
	url = http://git.drupal.org/project/commerce_license.git
[submodule "modules/commerce_license_billing"]
	path = modules/commerce_license_billing
	url = http://git.drupal.org/project/commerce_license_billing.git
[submodule "commerce_authnet"]
	path = commerce_authnet
	url = http://git.drupal.org/project/commerce_authnet.git
[submodule "modules/commerce_authnet"]
	path = modules/commerce_authnet
	url = http://git.drupal.org/project/commerce_authnet.git
[submodule "modules/commerce_license_billing_credit_card"]
	path = modules/commerce_license_billing_credit_card
	url = http://git.drupal.org/sandbox/daveparrish/2413455.git
[submodule "modules/commerce_paypal"]
	path = modules/commerce_paypal
	url = http://git.drupal.org/project/commerce_paypal.git
[submodule "modules/commerce"]
	path = modules/commerce
	url = http://git.drupal.org/project/commerce.git
[submodule "modules/commerce_license_billing_paypal"]
	path = modules/commerce_license_billing_paypal
	url = http://git.drupal.org/sandbox/daveparrish/2428355.git
	branch = 7.x-1.x
